<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="<%= issue_location( issue ) %>/vector">
                    <i class="fa fa-link"></i>
                </a>

                <a data-toggle="collapse" href="#<%= id %>-vector">
                    Vector information
                </a>
            </h4>
        </div>
        <div id="<%= id %>-vector" class="panel-collapse collapse">
            <div class="panel-body">
                <%= erb 'issue/vector.erb', id: id, vector: issue.vector %>
            </div>
        </div>
    </div>

  <% if issue.dissect %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="<%= issue_location( issue ) %>/dissect">
            <i class="fa fa-link"></i>
          </a>

          <a data-toggle="collapse" href="#<%= id %>-dissect">
            Dissection
          </a>
        </h4>
      </div>
      <div id="<%= id %>-dissect" class="panel-collapse collapse">
        <div class="panel-body">
          <%= md issue.dissect %>
        </div>
      </div>
    </div>
  <% end %>

  <% if issue.insights %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="<%= issue_location( issue ) %>/insights">
            <i class="fa fa-link"></i>
          </a>

          <a data-toggle="collapse" href="#<%= id %>-insights">
            Insights
          </a>
        </h4>
      </div>
      <div id="<%= id %>-insights" class="panel-collapse collapse">
        <div class="panel-body">
          <%= md issue.insights %>
        </div>
      </div>
    </div>
  <% end %>

  <% if issue.patch %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="<%= issue_location( issue ) %>/patch">
            <i class="fa fa-link"></i>
          </a>

          <a data-toggle="collapse" href="#<%= id %>-patch">
            Patch
          </a>
        </h4>
      </div>
      <div id="<%= id %>-patch" class="panel-collapse collapse">
        <div class="panel-body">
          <%= md issue.patch %>
        </div>
      </div>
    </div>
  <% end %>

  <% if issue.exploit %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="<%= issue_location( issue ) %>/exploit">
            <i class="fa fa-link"></i>
          </a>

          <a data-toggle="collapse" href="#<%= id %>-exploit">
            Exploit
          </a>
        </h4>
      </div>
      <div id="<%= id %>-exploit" class="panel-collapse collapse">
        <div class="panel-body">
          <%= md issue.exploit %>
        </div>
      </div>
    </div>
  <% end %>

  <% if issue.report %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="<%= issue_location( issue ) %>/report">
            <i class="fa fa-link"></i>
          </a>

          <a data-toggle="collapse" href="#<%= id %>-report">
            Report
          </a>
        </h4>
      </div>
      <div id="<%= id %>-report" class="panel-collapse collapse">
        <div class="panel-body">
          <%= md issue.report %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="<%= issue_location( issue ) %>/affected_page">
                    <i class="fa fa-link"></i>
                </a>

                <a data-toggle="collapse" href="#<%= id %>-affected_page">
                    Affected page:

                    <code><%= escapeHTML(issue.page.dom.url) %></code>
                </a>
            </h4>
        </div>
        <div id="<%= id %>-affected_page" class="panel-collapse collapse">
            <div class="panel-body">
                <%= erb 'issue/page.erb', id: "#{id}-affected_page",
                        page:  issue.page,
                        issue: issue
                %>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="<%= issue_location( issue ) %>/referring_page">
                    <i class="fa fa-link"></i>
                </a>

                <a data-toggle="collapse" href="#<%= id %>-referring_page">
                    Referring page:

                    <code><%= escapeHTML(issue.referring_page.dom.url) %></code>
                </a>
            </h4>
        </div>
        <div id="<%= id %>-referring_page" class="panel-collapse collapse">
            <div class="panel-body">
                <%= erb 'issue/page.erb', id: "#{id}-referring_page",
                        page:  issue.referring_page,
                        issue: issue
                %>
            </div>
        </div>
    </div>

    <% if issue.execution_flow && issue.execution_flow.points.any? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="<%= issue_location( issue ) %>/execution-trace">
            <i class="fa fa-link"></i>
          </a>

          <a data-toggle="collapse" href="#<%= id %>-execution-trace">
            Execution trace
          </a>
        </h4>
      </div>
      <div id="<%= id %>-execution-trace" class="panel-collapse collapse">
        <div class="panel-body">
          <%= erb 'issue/execution_trace.erb', id: id, execution_flow: issue.execution_flow %>
        </div>
      </div>
    </div>
    <% end %>

  <% if issue.data_flow && issue.data_flow.sinks.any? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="<%= issue_location( issue ) %>/data-flow">
            <i class="fa fa-link"></i>
          </a>

          <a data-toggle="collapse" href="#<%= id %>-data-flow">
            Data flow
          </a>
        </h4>
      </div>
      <div id="<%= id %>-data-flow" class="panel-collapse collapse">
        <div class="panel-body">
          <%= erb 'issue/data_flow.erb', id: id, data_flow: issue.data_flow %>
        </div>
      </div>
    </div>
  <% end %>

</div>
