<table class="table">
  <th></th>
  <th>
    Object
  </th>
  <th>
    Method
  </th>
  <th>
    Argument index
  </th>
  <th>
    Argument value
  </th>
  <% data_flow.sinks.each.with_index do |sink, i| %>
    <tr>
      <th><%= i %></th>
      <td><code><%= sink.object %></code></td>
      <td><code><%= sink.method_name %></code></td>
      <td><code><%= sink.tainted_argument_index %></code></td>
      <td><code><%= escapeHTML sink.tainted_value.inspect %></code></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="2">
        <code><%= code_highlight ::JSON.pretty_generate( sink.backtrace ), :json %></code>
      </td>
      <td colspan="2">
        <code><%= code_highlight ::JSON.pretty_generate( sink.arguments ), :json %></code>
      </td>
    </tr>
  <% end %>
</table>
